/*UNIVERSIAL CSS*/

html{
	/*height: 8000px;*/
}


a:hover{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

#brand{
	width: 60px;
	border-radius: 50%;
	border: 1px solid #f1f1f1;
	background-color: rgba(255,255,255,.2);
	position: fixed;
	top: 22px;
	left: 30px;
	transition:.3s;
	z-index: 1049;
}

#brand:hover{
	background-color: #f1f1f1;
	margin-left: 10px;
	transition:.3s;
}

#brand:active{
	border: 2px solid #337ab7;
	transition: 0s;
}

 
/*END OF UNIVERSIAL CSS*/




/*NAV ABSOLUTE*/
.menu-container{
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 100;
	background-color: white;
	 box-shadow: 0 0px 8px rgba(0,0,0,0.25);
}

.menu{
	padding-left: 0px;
	z-index: 100;
	background-color: rgba(255,255,255,.95);
	/*background-color: #101010;*/
}


.menu li {
	list-style-type: none;
	display: inline-block;
	/*background-color: #101010;*/

	
}

.menu li a{
	display: block;
	padding: 25px;
}


.menu li:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

.menu li:active{
	background-color: rgba(0,0,0,.11);
}


/*END OF NAV*/




#hero{
	background-image: url(../img/hero-image.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 690px;


}

#hero h4{
	color: white;
	font-size: 40px;
	padding-top: 225px;
	text-align: center;
	margin-top: 0px;
	

}

#hero h1{
	color: white;
	text-align: center;
	margin-top: 0px;
	font-size: 4em;
	letter-spacing: 8px;
	font-weight: 100;
	padding-top: 20px;

}

#hero h6{
	text-align: center;
	padding-top: 60px;
	color: #999999;
	font-size: 1em;
}

/*THIS IS FOR THE ANIMATED TEXT*/

 
 }
 .cd-title {
     position: relative;
     height: 160px;
     line-height: 230px;
     text-align: center;
 }
 .cd-title h1 {
     font-size: 2.4rem;
     font-weight: 700;
 }
 @media only screen and (min-width: 768px) {
     .cd-title {
         line-height: 250px;
     }
 }
 @media only screen and (min-width: 1170px) {
     .cd-title {
         height: 200px;
         line-height: 300px;
     }
     .cd-title h1 {
         font-size: 3rem;
     }
 }
 .cd-intro {
     width: 90%;
     max-width: 768px;
     text-align: center;
 }
 .cd-intro {
     margin: 0 auto;
 }
 @media only screen and (min-width: 768px) {
     .cd-intro {
         margin: 0 auto;
     }
 }
 @media only screen and (min-width: 1170px) {
     .cd-intro {
         margin: 0 auto;
     }
 }
 .cd-headline {
     font-size: 3rem;
     line-height: 1.2;
 }
 @media only screen and (min-width: 768px) {
     .cd-headline {
         font-size: 4.4rem;
         font-weight: 300;
     }
 }
 @media only screen and (min-width: 1170px) {
     .cd-headline {
         font-size: 6rem;
     }
 }
 .cd-words-wrapper {
     display: inline-block;
     position: relative;
     text-align: left;
 }
 .cd-words-wrapper b {
     display: inline-block;
     position: absolute;
     white-space: nowrap;
     left: 0;
     top: 0;
 }
 .cd-words-wrapper b.is-visible {
     position: relative;
 }
 .no-js .cd-words-wrapper b {
     opacity: 0;
 }
 .no-js .cd-words-wrapper b.is-visible {
     opacity: 1;
 }
 /* -------------------------------- 

 

xclip 

-------------------------------- */
 .cd-headline.clip span {
     display: inline-block;
     padding: .2em 0;
 }
 .cd-headline.clip .cd-words-wrapper {
     overflow: hidden;
     vertical-align: top;
 }
 .cd-headline.clip .cd-words-wrapper::after {
     /* line */
     content:'';
     position: absolute;
     top: 0;
     right: 0;
     width: 2px;
     height: 100%;
     background-color: #aebcb9;
 }
 .cd-headline.clip b {
     opacity: 0;
 }
 .cd-headline.clip b.is-visible {
     opacity: 1;
 }



/* THIS IS THE END OF THE ANIMATION*/



/*THIS IS FOR THE MODAL*/

.modal-content {
	background-color: white;
  	border: 0px solid #999;
  	border: 0px solid rgba(0, 0, 0, .2);
  	border-radius: 0px;
  	padding: 40px 40px 20px 40px;
}

button,
button:active,
button:focus, 
button:hover,
.btn,
.btn:active, 
.btn:focus, 
.btn:hover{   
    outline:none !important;
}




.btn{

	background-color: rgba(0,0,0,0);
	border: 0px solid none;
	padding: 0px;


}


.modal-body p{
	padding-top: 20px;
	padding-bottom: 50px;
}


.btn p{
	padding: 0px;
	color: #337ab7;
	margin: 0px;
	font-size: 14px;
	/*dont add padding it messed up the tiles*/
}


.btn-close{
	background-color: rgba(0,0,0,0);
	font-family: raleway;
}

.btn-close:hover, .btn-close:active, .btn-close:focus{
	border: 1px solid #ff4444;
	background-color: #f1f1f1;
}

.btn:active{
	box-shadow: none;
}


.btn-close-top{
	width: 50px;
	height: 50px;
	border-radius: 0px;
	border-radius: 50%;
	border: 1px solid #ff4444;
	position: fixed;
	top: 20px;
	right: 20px;
	transition:.3s;
}

.btn-close-top:hover, span.plus-sign:hover{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transition:.3s;
}

.btn-close-top:active{
	-ms-transform: rotate(1800deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transition:.3s;

}

.btn-close-bottom{
	border-radius: 0px;
	padding: 10px;
	border: 1px solid #ff4444;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.picture-all .modal-image{
	margin-top: 0px;
	width: 100%;

	
}


.picture-all .modal-image:hover{
	-webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
}

.video-background{
	padding: 1px; background-color: #f1f1f1;
}








/*THIS IS THE END OF THE MODAL*/




/*INITIAL INFO*/
.initial-info{
	width: 100%;
	/*background-color: #191a15;*/
	-webkit-box-shadow: 0px 10px 60px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 60px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 60px -12px rgba(0,0,0,0.75);
}

.what-i-like, .why-its-important{
	padding-top: 50px;
	padding-bottom: 25px;
}


.like-image img, .important-image img {
	width: 100%;

}

.like-text{
	border-left: 1px solid #ffde36;
	margin: 0 auto;
	width: 40%; /*copy this for the important text too*/
	/*padding-left: 30px;*/
}

.like-text h3, .important-text h3{
	
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 10px;
}

.like-text p{
	font-size: 1.3em;
	letter-spacing: 3px;
	font-weight: 100;
	/*padding-right: 50px;*/

}


.why-its-important{
	margin-bottom: 50px;
}

.important-text{
	border-right: 1px solid #168a37;
	margin: 0 auto;
	width: 40%; /*copy this for the like text too*/
	text-align: right;
	/*padding-right: 30px;*/

}

.important-text p{
	font-size: 1.3em;
	letter-spacing: 3px;
	font-weight: 100;
	/*padding-left: 50px;*/
}



/*END OF INITAL INFO*/







/*my work section*/

.separation-area{
	width: 100%;
	height: 120px;
	background-color: #101010;
	-webkit-box-shadow: 10px 7px 51px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 7px 51px -9px rgba(0,0,0,0.75);
box-shadow: 10px 7px 51px -9px rgba(0,0,0,0.75);
    border-bottom: 1px solid #ccc;
	position: relative;
	z-index: -1;
}

.separation-area h4{
	color: white;
	font-weight: 200;
	letter-spacing: .5em;
	font-size: 20px;
	padding-top: 50px; 
	padding-left: 8%;
	margin: 0;
}

/*END OF WORK AREA*/























/*examples section*/

.area-margins{
	margin-top: 90px;
}


.picture-all{
	background-color: black;
	width: 220px;
	height: 365px;
	-webkit-box-shadow: 10px 17px 70px -16px rgba(0,0,0,0.5);
-moz-box-shadow: 10px 17px 70px -16px rgba(0,0,0,0.5);
box-shadow: 10px 17px 70px -16px rgba(0,0,0,0.5);

}

.circle-container{
	z-index: 1;
}



.plus-sign{
	font-family:'Raleway', sans-serif;
	font-weight: 200;
	color: white;
    font-size: 70px;
    display: block;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    line-height: 47px;
    text-align: center;
    position: relative;
    top: 120px;
    left: 0px;
    margin-left: 83px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            z-index: 10;
    transition:.3s;

}

.plus-sign:hover{
	color: #a0a0a0;
	transition: .2s;
}

.plus-sign:active{
	color: #337ab7;
}


.circle-container .appear{
	color: white;
	position: relative;
	bottom: -139px;
	padding-left: 71px;
	/*left: 71px;*/
	visibility:hidden;
	z-index: 10;
}

.circle-container:hover .appear{
	visibility:visible;
	transition: .3s;
}

.first:hover ~ .blur-me{
	-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
  
}


.picture-all img{
	width: 220px;
	margin-top: -78px;
	z-index: -1;
	
}

.picture-all img:hover{
	-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
    transition: 0s;
}

.example .caption{
	width: 220px;
	background-color: white;
	text-align: center;
	padding: 20px 0px;
	margin-top: -1px;
}


.blue-arrow-right{
	width: 12px;
}


.tile-words-right{
	width: 200px;
	padding-top: 30px;
}

.tile-words-left{
	width: 200px;
	padding-top: 30px;
}

.words-all{
	padding-top: 10px;
	padding-bottom: 0px;
	
	

}

.words-all h3{
	font-family: 'raleway';
	font-weight: 200;
}

section.caption{

	 font-size: 11px;

}
/*end of examples section*/


/*ABOUT ME BEGINS*/


#aboutMe{
	margin-top: 100px;
}

.about-me{
	margin-top: 80px;
  	-webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  	clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
}

.about-padding{
	padding-bottom: 0px;
}

.about-me img{
	display: block;
	width: 200px;
	height: 200px;
	margin: 0px auto;
	border-radius: 50%;
	border: 5px solid #f1f1f1;

}

.about-me p{
	padding: 30px 300px 80px 300px;
	font-weight: 400;
	line-height: 2;
}









/*ABOUT TME ENDS*/



/*CONTACT AREA*/

.contact-area{
	padding-top: 100px;
	margin-bottom: 70px;
}

.contact-image img{
	width: 100%;

}

.contact-info{
	background-color: #101010;
	color:white;
	padding: 20px 30px;
	display: block;
	width: 305px;
	margin: 0 auto;
	
	-webkit-box-shadow: 9px 2px 70px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 2px 70px -13px rgba(0,0,0,0.75);
box-shadow: 9px 2px 70px -13px rgba(0,0,0,0.75);

}

.contact-info h6{
	font-size: 20px;
	font-weight: 500;
}

.contact-info p{
	font-size: 20px;
	font-weight: 200;
}

#contact-resume{
	font-size: 15px;
}


.back-to-top{
	display: block;
	width: 112px;
	margin: 0 auto;
	margin-bottom: 70px;

}

.back-to-top a{
	text-align: center;
	padding: 20px;
	background-color: #f5f5f5;
}

.back-to-top a:hover{
	background-color: #f1f1f1;
}

.back-to-top img{
	width: 20px;
	position: relative;
	left: 46px;
	top: -60px;
}

.topper-arrow{
	visibility: hidden;
}

.topper:hover + .topper-arrow{
	visibility: visible;
}




/*END OF CONTACT ME*/


/*FOOTER*/

footer{
	height: 150px;
	background-color: #101010;
}

footer p{
	font-size: 10px;
	padding-top: 70px;
	text-align: center;
	color: #f1f1f1;
	font-weight: 100;
	letter-spacing: 10;
}








/*MEDIA QUIERES*/



 /* Large desktops and laptops */
@media (min-width: 1200px) {

	.menu{
	position: fixed;
	top: 20px;
	right: 20px;
	}

	/*-----------------------------------------------------------*/




	.like-text{
		margin-top: 120px;
	}

	.important-text{
		margin-top: 80px;
	}


	/*-----------------------------------------------------------*/
	.picture-all{
		margin-left: 50%
	}

	.tile-picture-right{
		margin-left: 0px;
	}

	.tile-words-left{
		text-align: right;
		margin-left: 290px;

	}

	/*-----------------------------------------------------------*/


	.contact-info{
		width: 500px;
	}



}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.menu{
	position: fixed;
	top: 20px;
	right: 20px;
	}

	/*-----------------------------------------------------------*/
	

	.like-text, .important-text{
		font-size: .9em;
		margin-top: 50px;
	}

	/*-----------------------------------------------------------*/

	.tile-picture-left{
		margin-left: 40%;
		margin-left: 198px;
	}

	.tile-words-left{
		text-align: right;
		margin-left: 198px;

	}

	/*-----------------------------------------------------------*/

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {



	/*BRAND*/
	#brand{
		top: 90px;
	}

	/*END OF BRAND*/



	.menu {
		width: 374px;
	margin: 0px auto;
	

	}

	

	/*-----------------------------------------------------------*/
	
	.like-text p, .important-text p{
		font-size: 1em;
	}





	/*-----------------------------------------------------------*/


	.words-all{
		padding-top: 20px;
	}



	.picture-all{
		width: 150px;
		height: 254px;
		margin-top: 42px;
		padding-top: 10px;
	}

	.picture-all img{
		width: 150px;
		z-index: -1;
	}

	.picture-all .caption{
		width: 150px;
	}

	.picture-all p{
		padding-right: 120px;
	}

	.modal-body p{
		padding-right: 0px;
	}




	.tile-words-right {
		text-align: right;
		width: 150px;
		font-size: 11px;
	}

	.tile-words-left {
		text-align: left;
		width: 150px;
		font-size: 11px;
	}

	.circle-container .appear{
		z-index: 10;
		padding-left: 0px;
	}

	.plus-sign{
	width: 40px;
	height: 40px;
	font-size: 50px;
	line-height: 38px;
	top: 70px;
    margin-left: 55px;
    z-index: 10;
	}

	.circle-container .appear{
	bottom: -95px;
	left: 40px;
	}

	.mobile-width-fixer{
		margin-top: 20px;
	}

	/*-----------------------------------------------------------*/

	.about-me p{
	padding: 30px 100px 80px 100px;

	}


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {



/*	BRAND*/

	#brand{
		visibility: hidden;
	}
/*END OF BRAND*/

	.menu {
		width: 374px;
	margin: 0px auto;
	
	}

	#hero{
		height: 500px;
	}

	#hero h4{
		padding-top: 140px;
	}


	#hero h1{
		font-size: 3em;
	}




	/*-----------------------------------------------------------*/

	.like-text, .important-text{
		width: 70%;
	}

	.like-image img, .important-image img{
		width: 70%;
	}


	/*-----------------------------------------------------------*/


	

	.words-all{
		padding-top: 10px;
		padding-bottom: 30px;
	}

	.mobile-width-fixer{
		width: 240px;
		margin: 0px auto;
		margin-top: 40px;
		padding-left: 5%;
	}


	.mobile-fix-little{
		width: 480px;
		margin: 0px auto;
	}


	.about-me p{
	padding: 30px 45px 80px 45px;

	}

	/*CONTACT*/

	.contact-area{
		padding-top: 50px;
		margin-bottom: 50px;
	}

	.contact-image img{
	width: 70%;
	display: block;
	margin: 0px auto;

	}

	.contact-info{
		border: none;
		background-color: white;
		color: black;
		padding-top: 50px;
		box-shadow: none;
	}

	/*END OF CONTACT*/



	/*FOOTER*/

	footer p{
		letter-spacing: 1;
	}

	/*END OF FOOTER*/


	
	.contact-area{
		text-align: center;
	}	


	

	html {
    overflow-x: hidden; }

    /*-----------------------------------------------------------*/


}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	#first-menu-item{
		padding-left: 2%;
	}

	.menu {
		width:300px;
	}

	.menu li a{
		padding: 15px;
	}

	/*-----------------------------------------------------------*/
	#hero h1{
		letter-spacing: 3px;
	}

	#hero h4{
	font-size: 25px;
	}
	

	/*#hero{
		background-image: none;
		background-color: orange;
 	}*/

 	.like-text, .important-text{
		width: 90%;
	}

	.like-image img, .important-image img{
		width: 100%;
	}


	/*-----------------------------------------------------------*/
	



	.mobile-width-fixer{
		width: 240px;
		margin: 0px auto;
		margin-top: 20px;
		padding-left: 7px;
	}

	.mobile-fix-little{
		width: 240px;
		margin: 0px auto;
	}


	.words-all{
		padding-top: 0px;
		padding-bottom: 30px;
	}




	html {
    overflow-x: hidden; }

    /*-----------------------------------------------------------*/



}

   